# Auto detect text files and perform LF normalization
*          text=auto

#
# The above will handle all files NOT found below
#

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      binary


# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

#
# Exclude files from exporting
#
.gitattributes export-ignore
.gitignore     export-ignore